/.lein-*
/.nrepl-port
.hgignore
.hg/
.gorilla-port
tmp.png
*DS_Store

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
